@charset "UTF-8";

/* Paleta de cores */

:root{
    --verde: #49a09d;
    --lil치s: #5f2c82;
}

/* Geral */

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var(--lil치s);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Main */

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

/* Section */

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: var(--lil치s) url(../imagens/pexels-scottwebb-139198.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}


section#login > div#formulario {
    display: block;
    padding: 10px;
}

/* Foumul치rio */
div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}